<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

</head>
<body>

    <h1>Admin Page</h1>
    <h3><a href="/admin/new.html">Add new User</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LAST_NAME</th>
            <th>PHONE_NUMBER</th>
            <th>EMAIL</th>
            <th>ROLES</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.username}">NAME</td>
            <td th:text="${user.lastName}">LAST_NAME</td>
            <td th:text="${user.phoneNumber}">PHONE_NUMBER</td>
            <td th:text="${user.email}">EMAIL</td>
            <td th:text="${user.roles}">ROLES</td>
            <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/remove/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
    <br/>
    <br/>
    <a th:href="@{/logout}">LOGOUT</a>
</div>
</body>
</html>
